<form name="searchForm">
  <div class="form-group">
    <label for="productType">Model siłownika:</label>
    <input type="text" id="productType"
           placeholder="Model siłownika" class="form-control">
  </div>
  <div class="form-group">
    <label for="serialNumberPic">Zdjęcie numeru seryjnego</label>
    <input type="file" id="serialNumberPic"
           placeholder="Zdjęcie numeru seryjnego" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-primary btn-block">Generuj numer</button>
  </div>
</form>
